In [1]:
import matplotlib
matplotlib.rcParams['font.sans-serif'] = ['SimHei']
matplotlib.rcParams['font.family'] = 'sans-serif'
matplotlib.rcParams['axes.unicode_minus'] = False

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
import akshare as ak

index_value_hist_funddb_df = ak.index_value_hist_funddb(symbol="大盘成长", indicator="市盈率")

In [4]:
index_value_hist_funddb_df

              日期   平均值    市盈率  最低30  最低10   最高30  最高10
0     2010-01-04  18.4  30.88   NaN   NaN  30.88   NaN
1     2010-01-05  18.4  31.06   NaN   NaN  31.06   NaN
2     2010-01-06  18.4  30.85   NaN   NaN  30.85   NaN
3     2010-01-07  18.4  29.86   NaN   NaN  29.86   NaN
4     2010-01-08  18.4  29.85   NaN   NaN  29.85   NaN
...          ...   ...    ...   ...   ...    ...   ...
3610  2024-11-15  18.4  22.01   NaN   NaN  22.01   NaN
3611  2024-11-18  18.4  21.86   NaN   NaN  21.86   NaN
3612  2024-11-19  18.4  22.11   NaN   NaN  22.11   NaN
3613  2024-11-20  18.4  22.10   NaN   NaN  22.10   NaN
3614  2024-11-21  18.4  22.12   NaN   NaN  22.12   NaN

[3615 rows x 7 columns]

In [6]:
index_value_name_funddbdf = ak.index_value_name_funddb()

In [7]:
index_value_name_funddbdf

,指数名称,最新PE,PE分位,最新PB,PB分位,股息率,股息率分位,指数代码,指数开始时间,更新时间
0,养老产业,14.84,0.25,2.07,11.68,2.34,96.05,399812.SZ,2014-06-06,2024-11-21
1,道琼斯美国石油开发与生产,8.29,0.77,2.72,77.09,3.88,76.47,DJSOEP.GI,2013-03-26,2024-11-20
2,全指消费,22.30,1.56,4.58,36.80,2.69,96.63,000990.CSI,2011-08-02,2024-11-21
3,中证消费,22.20,2.01,4.59,31.21,2.74,96.71,000932.SH,2009-07-03,2024-11-21
4,SHS消费龙头,18.24,2.97,4.16,17.34,3.49,97.63,931663.CSI,2015-03-13,2024-11-21
...,...,...,...,...,...,...,...,...,...,...
276,标普500信息技术,42.45,99.48,12.41,98.58,0.57,0.00,S5INFT.SPI,1996-06-28,2024-11-20
277,房地产(申万),41.52,99.51,0.80,11.43,1.43,25.95,801180.SI,2003-10-16,2024-11-21
278,中证旅游,4355.00,99.62,2.32,12.58,0.85,70.06,930633.CSI,2015-05-08,2024-11-21
279,软件指数,248.92,99.71,5.12,34.21,0.55,88.32,h30202.CSI,2013-07-15,2024-11-21
280,中证全指房地产,297.23,95.78,0.61,0.14,1.96,38.68,931775.CSI,2013-07-15,2024-11-21

In [8]:
fund_individual_analysis_xq_df = ak.fund_individual_analysis_xq(symbol="000001")

In [9]:
print(fund_individual_analysis_xq_df)

    周期  较同类风险收益比  较同类抗风险波动  年化波动率  年化夏普比率   最大回撤
0  近1年        53        59  21.37   -0.03  21.40
1  近3年        34        66  18.18   -0.71  47.12
2  近5年         5        58  19.77   -0.23  55.07

In [3]:
stock_margin_account_info_df = ak.stock_margin_account_info()

  0%|          | 0/6 [00:00<?, ?it/s]

In [ ]:
stock_margin_account_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2948 entries, 0 to 2947
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   日期             2948 non-null   object
 1   融资余额           2948 non-null   float64
 2   融券余额           2948 non-null   float64
 3   融资买入额          2948 non-null   float64
 4   融券卖出额          2948 non-null   float64
 5   证券公司数量         2948 non-null   int64
 6   营业部数量          2948 non-null   int64
 7   个人投资者数量        2326 non-null   float64
 8   机构投资者数量        2326 non-null   float64
 9   参与交易的投资者数量     2326 non-null   float64
 10  有融资融券负债的投资者数量  2312 non-null   float64
 11  担保物总价值         2326 non-null   float64
 12  平均维持担保比例       2164 non-null   float64
dtypes: float64(10), int64(2), object(1)
memory usage: 299.5+ KB

In [7]:
index_news_sentiment_scope_df = ak.index_news_sentiment_scope()

In [8]:
index_news_sentiment_scope_df

             日期    市场情绪指数    沪深300指数
0    2023-11-21  1.030444  3581.0674
1    2023-11-22  1.033494  3544.4162
2    2023-11-23  1.030580  3561.5204
3    2023-11-24  1.037077  3538.0087
4    2023-11-27  1.030624  3511.9424
..          ...       ...        ...
236  2024-11-15  1.038348  3968.8308
237  2024-11-18  1.035041  3950.3806
238  2024-11-19  1.030596  3976.8912
239  2024-11-20  1.030990  3985.7727
240  2024-11-21  1.038868  3989.2979

[241 rows x 3 columns]

In [10]:
fund=ak.index_value_name_funddb()

In [29]:
fund.to_clipboard()

In [23]:
index_value_hist_funddb_df = ak.index_value_hist_funddb(symbol="大盘成长", indicator="股息率")

In [24]:
index_value_hist_funddb_df

              日期  平均值   股息率  最低30  最低10  最高30  最高10
0     2010-01-04  1.7  0.87  0.87  0.87   NaN   NaN
1     2010-01-05  1.7  0.86  0.86  0.86   NaN   NaN
2     2010-01-06  1.7  0.86  0.86  0.86   NaN   NaN
3     2010-01-07  1.7  0.88  0.88  0.88   NaN   NaN
4     2010-01-08  1.7  0.88  0.88  0.88   NaN   NaN
...          ...  ...   ...   ...   ...   ...   ...
3610  2024-11-15  1.7  2.49   NaN   NaN  2.49   NaN
3611  2024-11-18  1.7  2.51   NaN   NaN  2.51   NaN
3612  2024-11-19  1.7  2.48   NaN   NaN  2.48   NaN
3613  2024-11-20  1.7  2.48   NaN   NaN  2.48   NaN
3614  2024-11-21  1.7  2.49   NaN   NaN  2.49   NaN

[3615 rows x 7 columns]